.container
{
    margin: 200px auto;
    width: 900px;
    padding: 20px;
    
}
.container input
{
    font-size: 20px;
    border: 2px solid;
    margin-bottom: 10px;
    height: 30px;
}
table
{
    border: 1px SOLID;
    padding: 10px;
    border-collapse: collapse;
    margin: 0px auto;
   
    
}
table th,tr,td{
    border: 1px solid;
    padding: 10px;
    
    margin:0;
    
}
table th{
    font-size: 24px;
    background-color: skyblue;
}
